opencv-python
tensorboard
pytorch_lightning
torchmetrics
omegaconf
shortuuid
chumpy
transformers
diffusers
einops
wandb
rich
matplotlib
bert-score
nlg-metricverse
gdown
numpy==1.23.1

# for visualization
gradio==3.43.2
git+https://github.com/mmatl/pyrender.git
git+https://github.com/mmatl/pyopengl.git
git+https://github.com/mmatl/pyglet.git
PyOpenGL_accelerate
smplx==0.1.28
trimesh==3.9.24
joblib==1.2.0
shapely
triangle
h5py
scikit-image
spacy
ftfy
more-itertools
natsort
moviepy
librosa
