opencv-python
tensorboard
pytorch_lightning
torchmetrics
omegaconf
shortuuid
chumpy
transformers
diffusers
einops
wandb
rich
matplotlib
bert-score
nlg-metricverse
gdown
numpy==1.23.1
eventlet

# for visualization
pyglet==1.4.0a1
pyopengl==3.1.4
PyOpenGL_accelerate
smplx==0.1.28
trimesh==3.9.24
joblib==1.2.0
shapely
triangle
h5py
scikit-image
spacy
ftfy
more-itertools
natsort
moviepy
librosa
torch==2.0.0
